* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    height: 400px;
    width: 400px;
    background-color: rgb(201, 56, 56);
    position: relative;
    overflow: hidden;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container i {
    color: red;
    font-size: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);
    opacity: 0;
    transition: all .5s ease ;
}